<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://penyia.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>penyia.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>penyia</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$penyia</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ScoolContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ekd0dg1215.database.windows.net,1433;Initial Catalog=penyia;Integrated Security=False;User ID=arun@ekd0dg1215;Password=8014XKbank;Connect Timeout=30;Encrypt=True" Name="Server=tcp:ekd0dg1215.database.windows.net,1433;Database=penyia;User ID=arun@ekd0dg1215;Password=8014XKbank;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Penyia.DataAccess.ScoolContext, Penyia" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SchoolContext" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:ekd0dg1215.database.windows.net,1433;Initial Catalog=penyia;Integrated Security=False;User ID=arun@ekd0dg1215;Password=8014XKbank;Connect Timeout=30;Encrypt=True" Name="Server=tcp:ekd0dg1215.database.windows.net,1433;Database=penyia;User ID=arun@ekd0dg1215;Password=8014XKbank;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:ekd0dg1215.database.windows.net,1433;Initial Catalog=penyia;Integrated Security=False;User ID=arun@ekd0dg1215;Password=8014XKbank;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SchoolContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:ekd0dg1215.database.windows.net,1433;Database=penyia;User ID=arun@ekd0dg1215;Password=8014XKbank;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SchoolContext-Web.config Connection String">
      <ParameterValue>Server=tcp:ekd0dg1215.database.windows.net,1433;Database=penyia;User ID=arun@ekd0dg1215;Password=8014XKbank;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ScoolContext-Web.config Connection String">
      <ParameterValue>Server=tcp:ekd0dg1215.database.windows.net,1433;Database=penyia;User ID=arun@ekd0dg1215;Password=8014XKbank;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>