@{ViewBag.Title = "Index";}
@model List<Penyia.Models.Student>

<div>
    <h1>@{var name = "Arun";}</h1>

    <p>@name</p>

    @foreach (var item in Model)
    {
        <br />
        <span>@item.FirstMidName</span>
    }

    @if (name.Length > 2)
    {
        <p>Hello</p>
    }


</div>
